* {
  box-sizing: border-box;
  margin: auto;
}


body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #f4f4f4;
}


h1 {
  border: 3px solid #222;
  padding: 10px;
  width: fit-content;
  margin-bottom: 10px;
}

h3 {
  border-bottom: 2px solid #555;
  padding-bottom: 5px;
  margin-bottom: auto;
  text-align: center;
}


div {
  width: 500px;
  border: 4px solid #8b0000;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  line-height: 1.6;
}
p {
  margin-bottom: 15px;
}



button {
  display: block;
  margin: 20px auto 0;

  border: 3px solid #004080;
  padding: 10px 25px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  border-color: black;
  background-color: #0056b3;
  transform: scale(1.05);
  transition-duration: 1ms;
}

