body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: linear-gradient(to right, #e0eafc, #5998f0);
}

section {
  margin-bottom: 40px;
}

/* FLEX ITEM */
.box {
  padding: 20px;
  margin: 10px;
  background-color: lightblue;
  border: 2px solid black;
  width: 120px;
  text-align: center;
}

/* 1. Flex Direction */
.flex-direction-container {
  display: flex;
  flex-direction: row;
  border: 2px dashed black;
}

.justify-content-container {
  display: flex;
  justify-content: center;
  border: 2px dashed black;
}

.align-items-container {
  display: flex;
  align-items: center;
  height: 200px;
  border: 2px dashed black;
}


.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px dashed black;
}


.align-content-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 300px;
  border: 2px dashed black;
}


.flex-grow-container {
  display: flex;
  border: 2px dashed black;
}

.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 1; }


.align-self-container {
  display: flex;
  height: 200px;
  border: 2px dashed black;
}

.self-start { align-self: flex-start; }
.self-center { align-self: center; }
.self-end { align-self: flex-end; }


.order-container {
  display: flex;
  border: 2px dashed black;
}

.order-1 { order: 3; }
.order-2 { order: 1; }
.order-3 { order: 2; } 

  h1 {
    text-align: center;
    color: #dbdadb;
    margin-bottom: 30px;
    box-shadow: #0e0d0d 0px 2px 5px;
    display : inline-block;
    background-color: rgb(11, 85, 153);

  }
  h1:hover {
    background-color: rgb(21, 56, 131);
    transform: scale(1.06);
    transition: transform 0.5s;
  }

h2 {
  text-align: center;
  color: #385699;
  margin-bottom: 20px;
  box-shadow: #385699 0px 2px 5px;
  display : inline-block;
  padding: 5px 15px;

}




  .box:hover {
  background: rgb(44, 74, 129) !important;
  transform: scale(1.06);
  transition: transform 0.5s;
}


