.container {
    display: grid;
     width : 600px;
     height : 400px;
    padding: 16px;
    background-color: rgb(230, 176, 202);
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
    background-color: #f3f6fa;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;

}
.item1 {
    grid-row-start: 1;
    grid-row-end: 4;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover, .item6:hover {
    background-color: #648bb4;
    cursor: pointer;
    color : rgb(17, 17, 17);
}