div {
    background-color: lightcoral;
    border-width: 500px;
    height: 20px;
    border-top-right-radius: 30px ;
    padding-top: rgb(36, 131, 33);
}

div button {
    border-radius: 30px;
    border-left-color: rgb(67, 67, 153);
    border-top: 20px dashed rgb(184, 13, 70);
    border-bottom-style:dashed ;
    
}