
body {
  background-color: #f9efd7; 
  color: #333; 
  font-family: "Georgia", serif;
  margin: 0;
  padding: 40px;
}


.poem-container {
  background-color: #fffbe6; 
  border: 3px solid #deb887; 
  border-radius: 15px;
  padding: 25px 40px;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #b22222; 
  text-shadow: 1px 1px 2px #f0c7c7;
  font-family: "Georgia", serif;
  letter-spacing: 2px;
}


h3 {
  
  text-align: center;
  color: #2f4f4f; 
  font-style: italic;
  margin-bottom: 25px;

}

<<<<<<< HEAD

=======
>>>>>>> dcdcc0f00f1e6618345c5ce14dbaa3f3ce66d5c5
p {
  color: #5a3e2b; 
  text-align: center;
  line-height: 1.8;
  font-size: 18px;
}

<<<<<<< HEAD

=======
>>>>>>> dcdcc0f00f1e6618345c5ce14dbaa3f3ce66d5c5
.poem-container:hover {
  background-color: #fff4cc;
  border-color: #d2a679;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
