section {
    text-align: center;
    margin-top: 50px;
    background-color: rgb(253, 247, 247);
    color: rgb(12, 12, 12);
    display: inline block;
    margin-bottom: 50px;
    padding-bottom: 100px;
}




div {
    width: 100px;
    border : 2px solid black;
    height: 100px;
    background-color: rgb(59, 147, 177);
    margin : 20px auto;
    padding: auto;
    text-align: center;
    line-height: 200px;
    transition: background-color 2s, transform rotate(360deg) ;
    transition-duration: 2s;
    display:flex;
    align-items: center;
    justify-content: center;
}




#one:hover {
    border-radius: 50%;
    transition-duration: 1.5s;
    background-color: rgb(122, 37, 172);
    transform: rotate(360deg) scale(1.3);
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgb(241, 238, 238);
    box-shadow: 5px 5px 15px rgb(87, 85, 85);
}



#two:hover {
    border-color: rgb(20, 2, 2);
    border-width: 5px;
    transform: scale(1.5);
    text-decoration: underline;
    background-color: rgb(67, 136, 94);
    text-shadow: 2px 2px 5px rgb(241, 238, 238);
    box-shadow: 5px 5px 15px rgb(87, 85, 85);
}



#two:hover {
    border-color: rgb(20, 2, 2);
    border-width: 5px;
    transform: scale(1.5);
    text-decoration: underline;
    background-color: rgb(67, 136, 94);
    text-shadow: 2px 2px 5px rgb(241, 238, 238);
    box-shadow: 5px 5px 15px rgb(87, 85, 85);
}




#three:hover {
    width: 100px;
    height: 50px;
    border-radius: 0%;
    background-color: rgb(187, 81, 31);
    transform:  scale(2);
    text-shadow: 2px 2px 5px rgb(241, 238, 238);
    text-decoration: underline;
    box-shadow: 5px 5px 15px rgb(87, 85, 85);
}

